[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.3"
opencv-python = "*"
imageio = "*"
tqdm = "*"
configargparse = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.7"
